# Dependencies
node_modules/

# OS files
.DS_Store

# Environment variables
.env

# Database Migration
migration.log
*.backup.json

# Scripts directory
/scripts/fixIndexes.js
/scripts/rebuildIndexes.js
/scripts/restoreUniqueIndex.js
/scripts/data/

# Logs
*.log

# IDE specific files
.vscode/
.idea/
config/constant-old.js
.github/copilot-instructions1.md
.github/copilot-instructions.md